
.but{
    width: 200px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 500px;
  }
  
  
  /* src/App.css */
  .app-container {
    padding: 20px;
  }
  
  .project-list {
    list-style-type: none;
    padding: 0;
  }
  
  .project-list li {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer; /* Make sure the cursor is a pointer to indicate it's clickable */
  }
  
  .project-list li:hover {
    background: #e2e6ea; /* Change background on hover for better UX */
  }
  
  .component-list {
    list-style-type: none;
    padding: 0;
  }
  
  .component-list li {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
  }
  